
.headerMenuButton {
  --background: transparent;
  --box-shadow: 0px;
  --color: primary;
}

.headerMenuText {
  margin-right: 5%;
}

.headerMenuIcons{
  margin-top: 50%;
  margin-bottom: 50%
}

.headerMobileMenu {
  margin-top: 5%;
}

.headerDesktopMenu {
  margin-top: auto;
  margin-bottom: auto
}

.headerIcons {
  color: darkgreen;
  font-size: 2em;
}

