<ion-header class="backgroundWhite">
  <ion-grid [fixed]="true">

    <!-- Mobile Devices -->
    <ion-row class="ion-text-center ion-hide-md-up">
      <ion-col size="6">


        <!-- TODO Navigate to home by click on img -->
        <img [src]="headerLogoImg.src" [title]="headerLogoImg.title"
             [alt]="headerLogoImg.alt" [style]="headerLogoImg.style_sm">


      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <ion-button class="headerMenuButton" (click)="isMobileMenuActive = !isMobileMenuActive;
        mobileMenu(isMobileMenuActive)">
          <ion-text class="headerMenuText">Menu</ion-text>
          <ion-icon [class]="headerMenuIcon.class" [name]="headerMenuIcon.name"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <div [class]="headerMobileMenuScss" [hidden]="!isMobileMenuActive">
      <ion-row class="ion-text-center">
        <ion-col size="12">
          <ion-accordion-group #menuMobile_acc>
            @for (item of accordionMobileMenu; track item) {
              <ion-accordion [value]="item.menuOption.value">
                <ion-item slot="header">
                  <ion-label>
                    {{ item.menuOption.label }}
                  </ion-label>
                </ion-item>
                <div [class]="item.menuOption.divScss" slot="content">
                  @for (service of item.menuOption.services; track service) {
                    <ion-row class="ion-text-center">
                      <ion-col size="1">
                        <img [src]="service.iconSrc" [class]="service.iconScss" [title]="service.spanTxt"
                             [alt]="service.spanTxt" draggable="false">
                      </ion-col>
                      <ion-col size="11">
                        <ion-button expand="full" class="headerMenuButton">
                          <ion-label [class]="service.spanScss">
                            {{ service.spanTxt }}
                          </ion-label>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  }
                </div>
              </ion-accordion>
            }
          </ion-accordion-group>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col size="12">
          <ion-button expand="full" shape="round" class="buttonBlack" title="Enquire">
            <ion-label>{{ "Enquire" }}</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

    <!-- Desktop Devices -->

    <ion-row class="ion-hide-md-down ion-text-center">
      <ion-col size="2">
        <ion-img [src]="headerLogoImg.src" [title]="headerLogoImg.title"
                 [alt]="headerLogoImg.alt" [style]="headerLogoImg.style_lg" draggable="false"></ion-img>
      </ion-col>
      @for (item of desktopMenu; track item; ) {
        <ion-col [size]="8 / desktopMenu.length" class="headerDesktopMenu">
          <ion-button class="headerMenuButton" (click)="desktopDevicesMenu(item.menuOption.value, $index)">
            <ion-label [class]="item.menuOption.labelScss">{{ item.menuOption.label }}</ion-label>
          </ion-button>

        </ion-col>
      }
      <ion-col size="2">
        <ion-button shape="round" expand="full" class="headerButtonAction buttonBlack" title="Enquire">
          <ion-label>{{ "Enquire" }}</ion-label>
        </ion-button>


      </ion-col>
    </ion-row>

    <div [hidden]="!activeDesktopMenuOption.isActive">
      <ion-row class="ion-text-center">
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-item-divider class="headerSubMenu"></ion-item-divider>
          @if (activeDesktopMenuOption.value != "") {
            @for (service of desktopMenu[activeDesktopMenuOption.index].menuOption.services; track service) {

              <ion-button shape="round" class="headerMenuButton">
                <img [src]="service.iconSrc" [class]="service.iconScss" [title]="service.spanTxt"
                     [alt]="service.spanTxt" draggable="false">
                <ion-label class="">
                  {{ service.spanTxt }}
                </ion-label>
              </ion-button>
            }
          }

        </ion-col>
      </ion-row>
    </div>


  </ion-grid>

</ion-header>
