@font-face {
  font-family: "Fixedsys Excelsior 3.01";
  src: url("../assets/fonts/FSEX300.ttf")
}

:root {

  /* Disable selection */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  outline: 0;

  /* Global Font-Family */
  --ion-font-family: "Fixedsys Excelsior 3.01";
}

ion-modal {
  --height: auto;
}

/* SVG - COLORS */

.svgWhite {
  filter: invert(100%) sepia(0%) saturate(5%) hue-rotate(162deg) brightness(103%) contrast(103%);
}

.svgDarkGreen {
  filter: invert(14%) sepia(62%) saturate(6791%) hue-rotate(97deg) brightness(92%) contrast(106%);
}

.svgGreen {
  filter: invert(24%) sepia(92%) saturate(2994%) hue-rotate(102deg) brightness(90%) contrast(101%);
}

.svgDarkRed {
  filter: invert(10%) sepia(61%) saturate(5374%) hue-rotate(356deg) brightness(94%) contrast(116%);
}

.svgDarkBlue {
  filter: invert(9%) sepia(84%) saturate(7354%) hue-rotate(246deg) brightness(61%) contrast(124%);
}

.svgDodgerBlue {
  //Loss is 1.4
  filter: invert(41%) sepia(61%) saturate(1837%) hue-rotate(193deg) brightness(101%) contrast(104%);
}

.svgLightBlue {
  filter: invert(82%) sepia(48%) saturate(180%) hue-rotate(157deg) brightness(95%) contrast(90%);
}

/* ***************** */

/* SVG - SIZES */

.icon64{
  max-width: 64px;
  max-height: 64px;
}


/* Margin Custom */

.marginRL2_5 {
  margin-right: 2.5%;
  margin-left: 2.5%;
}

.marginTop2_5 {
  margin-top: 2.5%;
}
