.modalEnquire {
  border-radius: -5%;
}

.modalEnquireHeaderButton {
  --background: transparent;
  --ripple-color: transparent;
  --box-shadow: 0px;
}

.modalEnquireCancelButton {
  --color: darkred;
}

.modalEnquireSendButton {
  --color: darkgreen;
}

.modalEnquireTitle {
  font-size: 1.5em;
}


