@media (prefers-color-scheme: light) {

  .customButton {
    --color: black;
    --color-hover: black;
    --background: white;
  }

}

@media (prefers-color-scheme: dark) {

  .customButton {
    --color: black;
    --color-hover: black;
    --background: white;
  }
}

.homeSlideContainer {

}

.homeSlideImg {
  width: 100%;
  height: auto;
}
.swiper-container {
  --swiper-pagination-color: white;
  --swiper-navigation-color: white;
}

.slider {
  //max-width: 854px;
  //max-height: 480px;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.sliderTxt {
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: 2em;
  background-color: white;
  border: white 5px solid;
  color: black;
  //border-radius: 8px;
}

.sliderButton {
  position: absolute;
  bottom: 2%;
  right: 2%;
  font-size: 1.5em;
}

.verticalAlignMiddle {
  vertical-align: middle;
}

.homeH2 {
  font-size: 2.5em;
}

.homeDesc {
  font-size: 1.5em;
}
