<app-header></app-header>
<ion-content [fullscreen]="true">



  <div #homeContent class="">
    <ion-grid [fixed]="true">
      <ion-row class="ion-text-center">
        <ion-col size="12">
          <ion-alert
            [isOpen]="!isWebAppReady"
            header="WebApp not ready!"
            message="This WebApp is still under development. Please come back later"
            [buttons]="['Acknowledge']"></ion-alert>

        </ion-col>
      </ion-row>
      <!-- Intro Section -->
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <div class="homeSlideContainer">
            <swiper-container class="swiper-container" autoplay="true"
                              pagination="true" effect="fade"
                              navigation="false">
              @for (slider of homeSwiperSlides; track slider) {
                <swiper-slide class="slider">
                  <ion-img [src]="slider.src"
                           [title]="slider.title"
                           [alt]="slider.alt"></ion-img>
                  <ion-text class="sliderTxt ion-text-center">{{ slider.descr }}</ion-text>
                  <ion-button class="sliderButton customButton">
                    {{ "Find Out" }}
                    <ion-icon name="information-circle"></ion-icon>
                  </ion-button>
                </swiper-slide>
              }
            </swiper-container>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<app-footer></app-footer>

